<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height, user-scalable=no,initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>购物车</title>
    <link rel="stylesheet" href="../view/wap/css/style_cart.css"/>
    <link rel="stylesheet" href="../view/wap/css/shopping.css"/>
    <script type="text/javascript" src="../view/wap/js/jquery-1.12.1.min.js"></script>
    <script type="text/javascript" src="../view/wap/js/jquery-select.js"></script>
    <script type="text/javascript" src="../view/wap/js/qxsp.js"></script>
    <!-- 复选框 -->
    <script type="text/javascript">
	/*	
		function check(){
			//全选 方法一(参考)
			var checkbox = document.getElementById('checkbox');
			var checkboxs = document.getElementsByName('box[]');
			for(var i=0; i<checkboxs.length;i++){
			if(checkbox.checked==false){
				checkboxs[i].checked=false;
			}else{
			checkboxs[i].checked=true;
			}}
			};
		function uncheck(){
			//反选
			var $tmp=$(".sub_box:checkbox");
			$('#checkbox').attr('checked',$tmp.length==$tmp.filter(":checked").length);
			};
	*/
		//全选 全不选 方法二
		$(function(){
			$("#checkbox").click(function(){
				if(this.checked){
					$(".sub_box:checkbox").attr("checked",true);
				}else{
					$(".sub_box:checkbox").attr("checked",false);
				}
			})
			$(".sub_box:checkbox").click(function(){
				var $tmp=$(".sub_box:checkbox");
				$('#checkbox').attr('checked',$tmp.length==$tmp.filter(":checked").length);
			})
		})
		//----------------------------------------------
		//商品累加
		/*$(function () {
			var t = $(".num");
			$(".plus").click(function () {
				t.val(parseInt(t.val()) + 1)
				setTotal(); //GetCount();
			})
			$(".reduce").click(function () {
				if(t.val()>0){
					t.val(parseInt(t.val()) - 1)
					setTotal(); //GetCount();
				}
			})
		})
		
        $(function () {
            var t = $(".num");
            var one = $(".one").val();
            //数量增加操作
            $(".plus").click(function () {
                t.val(parseInt(t.val()) + 1);
                if (parseInt(t.val()) != 1) {
                    $('#reduce').attr('disabled', false);
                }
                setTotal();
                //数量减少操作
                $(".reduce").click(function () {
                    if (parseInt(t.val()) > 1) {
                        t.val(parseInt(t.val()) - 1);
                        setTotal();
//                    $('#reduce').attr('disabled', true);
                    }


//                if (parseInt(t.val()) == 0) {
//                    return false;
////                    $('#reduce').attr('disabled', true);
//                }

                });
                function setTotal() {
                    $(".red").html("<a>￥</a>"+(parseInt(t.val()) *one).toFixed(2));//toFixed()是保留小数点的函数
                }

                setTotal();
            })
        })*/

        //提交到订单
        function sub() {
            $('form').submit();
        }
		//商品数量加减
		$(function () {
			$(".plus").click(function(){
				var t=$(this).parent().find('input[class*=num]'); 
				t.val(parseInt(t.val())+1)
				setTotal();
			})
			$(".reduce").click(function(){ 
				var t=$(this).parent().find('input[class*=num]'); 
				t.val(parseInt(t.val())-1) 
				if(parseInt(t.val())<2){ 
					t.val(1); 
				}						
				setTotal(); 
			})
			$(".sub_box:checkbox").click(function(){
				setTotal();
			})
			$("#checkbox").click(function(){
				setTotal();
			})
			setTotal(); 
		})
		//合计
		function setTotal(){ 
				var s=0; 
				$(".spxz ul").each(function(){ 
				    //alert ($(this).checkbox)
					if ($(this).find('input[class*=sub_box]').attr('checked')==true){
					s+=parseInt($(this).find('input[class*=num]').val())*parseFloat($(this).find('input[class*=one]').val()); 
					}
				}); 
				$(".red").html(s.toFixed(2)); 
				} 
        </script>
</head>


<body>
<div class="body">
    <div class="tour">
        <a href="javascript:history.go(-1)" class="tour1"><img src="../view/wap/img/back.png" alt="" style="height: 26px;width: 20px"></a>
        <p>购物车</p>
        <a href="javascript:;" class="tour2"><i class="btn"></i></a>
    </div>
    <form action="order.php" id="form" method="post">
<?php while(list($goods_id) = each($cart_list)) { ?>
<div class="spxz">
    <ul>
        <!--checkbox 一定要是数组,否则提交表单的时候只会提交一个-->
        <li class="li1"><input type="checkbox" value="<?php echo $goods_id ?>" class="sub_box" name="box[]"/></li>
        <li class="li2">
            <a href="good_info.php?goods_id=<?php echo $goods_id ?>">
                <img src="<?php echo str_replace(ROOT, '../' , $conf->file_path . $cart_list[$goods_id]['img']); ?>" alt="<?php echo $cart_list[$goods_id]['name'] ?>" style="width: 60px;height: 60px" />
            </a>
        </li>
        <li class="li3"><span><?php echo $cart_list[$goods_id]['name'] ?></span><br><span style="color: red" >￥</span>
            <input type="text" value="<?php echo $cart_list[$goods_id]['price'] ?>" class="one" disabled="disabled">
        </li>
        <li class="li4"><div><a class="reduce" >-</a><input type="text" value="<?php echo $cart_list[$goods_id]['num'] ?>" class="num"/><a class="plus">+</a></div></li>
    </ul>
</div>
<?php } ?>
</form>
</div>
<div style="clear: both"></div>
<div class="footing">
    <ul>
        <li class="li5"><input type="checkbox" id="checkbox" />全选</li>
        <li class="li6">合计：<span class="red">￥100</span></li>
        <li class="li7"><button type="button" onclick=sub()>结算</button></li>
    </ul>
</div>
    <div class="alert">
       <table border="1" cellSpacing=0  style="width: 100%;text-align: center;border-spacing:0;BORDER-COLLAPSE: collapse">
           <tr>
               <td colspan="2">
                   <div style="padding: 0.5rem 0 0.5rem 0;font-size: 1.6rem">提示</div>
                   <div style="padding: 0.5rem 0 0.5rem 0;font-size: 1.6rem">确定删除当前商品?</div>
               </td>
           </tr>
           <tr>
               <td><button type="button" class="delete" style="border: none;outline: none;background-color: white;font-size: 1.6rem;padding: 0.5rem 0 0.5rem 0;width:100%">确定</button></td>
               <td><button type="button" class="none" style="border: none;outline: none;background-color: white;font-size: 1.6rem;padding: 0.5rem 0 0.5rem 0;width:100%">取消</button></td>
           </tr>
       </table>
    </div>

    <div class="wx_nav" id="wx_nav">
        <a href="javascript:;" class="nav_index" id="nav_index" onclick="window.location='index.php'">首页</a>
        <a href="javascript:;" class="nav_shopcart" id="nav_shopcart" onclick="window.location='cart.php'">购物车</a>
        <a href="javascript:;" class="nav_me on" id="nav_me on" onclick="window.location='order.php'">订单</a>
    </div>

<div class="theme-popover-mask"></div>
<script type="text/javascript">
    <?php 
        if(isset($_SESSION['msg']) && !empty($_SESSION['msg'])) {
            echo 'alert("', $_SESSION['msg'], '");';
            $_SESSION['msg'] = NULL;
        }
     ?>
</script>
</body>
</html>